# the ENV template 
# copy or move this file to project root path and rename .env or .env.<STAGE>

# Server 
PORT=3103
APP_PREFIX=v1

# JWT Authencation
# hours
TOKEN_EXPIRE=24

# DB Config
DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=